.gradiente {
  background: linear-gradient(135deg, rgb(192, 192, 200) 30%, var(--secondary-color) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropDownDiv:hover .dropDownTitle {
  background: var(--services-bgDarken);
}

.dropDownDiv:hover .dropDown {
  background: var(--services-bgDarken);
}