.gradiente {
  background: linear-gradient(
    to bottom right,
    rgb(192, 192, 200),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg_logo {
  stroke: var(--secondary-color);
  transition: all ease-out 0.5;
}

.div_svgLogo:hover .svg_logo {
  stroke: #eee;
}
