/* header */
@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* c700b6 */
/* af00a1 */

:root {
  --primary-color: #4c00ff;
  --primaryDarken-color: #4c00ffcc;
  --secondary-color: #814bff;
  --secondaryDarken-color: #814bffcc;

  --dark-color: #4c00ff;
  --services-card: #5e00da;
  --services-cardHover: rgba(94, 0, 218, 0.565);
  --dark-purple: #36017b;
  --dark-color: rgb(06, 06, 06);
  --services-bgDarken: rgba(20, 0, 60, 1);

  --text-color: #eee;
  --text-lightColor: #aaa;
}

/* select:focus > option:hover { 
    background: var(--services-cardHover) !important;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 35px;
  height: 35px;
}

::-webkit-scrollbar-thumb {
  background: #0a0a0a;
  border: 0px solid #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb:active {
  background: #0a0a0a;
}

::-webkit-scrollbar-track {
  background: #282828;
  border: 0px none #ffffff;
  border-radius: 53px;
}

::-webkit-scrollbar-track:hover {
  background: #282828;
}

::-webkit-scrollbar-track:active {
  background: #282828;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#success {
  color: #ccc;
  font-size: 2vw;
}

#error {
  color: #ccc;
  font-size: 2vw;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #020202;
}

.menu-item {
  border-bottom: 2px solid transparent;
  transition: 0.3s all;
  border-width: 0%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
  padding: 5px 16px;
}

.menu-item:hover {
  border-bottom: 2px solid var(--primary-color);
  box-shadow: 0 9px 12px -8px #4c00ff33;
}

.svg_logo {
  fill: var(--primary-color);
}

/* services */
.gradiente {
  background: linear-gradient(135deg, #c0c0c8 30%, var(--secondary-color) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dropDownDiv:hover .dropDownTitle {
  background: #4c00ff20;
}

.dropDownDiv:hover .dropDown {
  background: #4c00ff20;
}

/* introduction */
.gradiente {
  background: linear-gradient(
    to bottom right,
    rgb(192, 192, 200),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.svg_logo {
  stroke: var(--secondary-color);
  transition: all ease-out 0.5;
}

.div_svgLogo:hover .svg_logo {
  stroke: #eee;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a:hover:nth-child(1) .social_logo,
a:hover:nth-child(1) h5 {
  fill: #f271a2;
  color: #f271a2;
  filter: drop-shadow(0 0 5px rgba(225, 48, 108, 0.75));
}

a:hover:nth-child(2) .social_logo,
a:hover:nth-child(2) h5 {
  fill: #eee;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}

a:hover:nth-child(3) .social_logo,
a:hover:nth-child(3) h5 {
  fill: #25d366;
  color: #25d366;
  filter: drop-shadow(0 0 5px #25d366);
}

.activeButton {
  padding: 1.5vh 2vw;
  border-radius: 10px;
  border: 1px solid white;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.activeButton::before {
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s;
  z-index: -1;
}

.disabledButton {
  padding: 1.5vh 2vw;
  border-radius: 10px;
  border: 1px solid white;
  display: inline-block;
  color: #aaa;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.aboutButton {
  position: relative;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 10px;
  color: var(--text-color);
  padding: 1.5vh 2vw;
  overflow: hidden;
  transition: color 0.35s ease-out;
}

.aboutButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.35s ease-out;
  background-color: var(--primary-color);
  z-index: -1;
}

.aboutButton:hover::before {
  width: 100%;
}

.aboutButton:hover {
  color: var(--text-color);
}

.loading::before {
  content: "";
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loaded {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: none;
  background-image: url("/fundo_linha.png");
}

#loaded span {
  flex-wrap: nowrap;
  margin: auto;
  width: fit-content;
  color: var(--text-color);
  font-weight: 700;
  font-size: 2vw;
  padding: 3vh 2vw;
}
